.title {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  color: #666;
}
.previewWrapper {
  border-right: 1px solid #ccc;
}
.preview {
  padding: 24px 10px 14px 10px;
}


.itemName, .itemQuantity {
  font-size: 20px; 
  color: #666;
  text-transform: uppercase;
}

.itemName {
  margin-top: 16px;
  margin-bottom: 8px;
}

.itemQuantity {
}

.itemQuantity, .itemName, .itemBtns {
  margin-left: 10px;
  margin-right: 18px;
}
