@import 'global';
.app {
}
.appTitle {
  color: #444;
}
:global(.fonts-loaded) .appTitle {
  font-family: 'Roboto Condensed';
}
.appContent {
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}


small, .font_small {font-size: 0.707em;}

